/* Media Query*/

@media only screen and (max-width: 1070px) {
            section#first #first-column-2 {
                display: none;
            }

            section#first #first-column-1 {
                width: 100%;
            }

            section#first::after {
                display: none;
            }
        }

        @media only screen and (min-width: 970px) and (max-width: 1070px) {

            section#projects {
                padding: 100px 0px 100px 0px;
            }

            section#projects .project-1 img {
                width: 550px;
            }
        }

        @media only screen and (min-width: 1070px) and (max-width: 1380px) {
            section#first #first-column-1 h1 {
                width: 70%;
            }

            section#first::after {
                width: 30%;
                left: 53%;
            }

            section#projects {
                padding: 100px 0px 100px 0px;
            }

            section#projects .project-1 img {
                width: 650px;
            }
        }

        @media only screen and (max-width: 600px) {


            section#whatido .columns {
                flex-direction: column;
            }

            section#whatido .columns #development {
                border-right: none;
                padding-bottom: 20px;
                border-bottom: 1px solid gold;
            }

            section#contact {
                padding: 100px 0px 100px 0px;
            }

            section#contact .contact {
                display: flex;
                flex-direction: column;
            }

            section#contact .stalk-links .fa-brands {
                padding: 0px 20px 0px 20px;
            }

            section#contact .contact span {
                padding: 0px;
            }
        }

        @media only screen and (max-width: 720px) {
            section#about {
                padding: 100px 0px 100px 0px;
            }

        }

        @media only screen and (max-width: 785px) {
            section#projects {
                padding: 100px 0px 100px 0px;
            }

            section#projects .project-1 {
                flex-direction: column;
            }

            section#projects .project-1 img {
                width: 100%;
            }

            section#projects .project-1 .proj-desc {
                width: 100%;
            }
        }

        @media only screen and (min-width: 785px) and (max-width: 832px) {
            section#projects {
                padding: 100px 0px 100px 0px;
            }

            section#projects .project-1 img {
                width: 454px;
            }
        }

        @media only screen and (min-width: 832px) and (max-width: 970px) {
            section#projects {
                padding: 100px 0px 100px 0px;
            }

            section#projects .project-1 img {
                width: 500px;
            }
        }

        @media only screen and (min-width: 600px) and (max-width: 970px) {
            section#whatido .columns aside p {
                width: 90%;
            }

            section#contact .contact {
                display: flex;
                flex-direction: column;
            }

        }














*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;  
    font-family: 'Nunito', Arial, Helvetica Neue, sans-serif;
}

html{
    scroll-behavior: smooth !important;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: -0.1px;
}

h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.2px;
}
nav{
    font-size: 2.5rem;
    margin: 20px;
}
nav span{
    color: #3f4a57;
}

body{
    overflow-x: hidden;
}

#sub-hero a.sub-hero-interactive-button:hover{
    background-color: white;
    color: gray;
}


/*ABOUT ME Section*/

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}

#about h1{
    font-size: 3rem;
    margin: 20px;
    color: grey;
    text-decoration: underline;
}


/* What i do*/

#whatido{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#whatido h1{
    font-size: 3rem;
    text-align: center;
    margin: 20px;
    color: grey;
    text-decoration: underline;
}

#whatido .columns{
    display: flex;
    justify-content: center;
    
}

#whatido .columns aside{
    width: 40%;
    padding: 20px;
    margin: 20px;
    background-color: #c1c1c126;
}
/* Projects*/


#projects{
    color: grey;
    padding: 100px;
}
#projects h1{
    font-size: 3rem;
    margin: 20px;
    text-align: center;
    text-decoration: underline;
}

#projects .project-1{
    display: flex;
    margin-top: 70px;
    box-shadow:  0px 0px 10px 10px grey;
    /* justify-content: center; */
}

#projects .project-1 .proj-desc{
    width: 50%;
    color: gold;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
} 

#projects .project-1 img{
    filter: grayscale(1);
}
 

#projects .project-1 img:hover{
    filter: none;
    cursor: pointer;
} 

.skills span{
    color: cyan;
}

#projects .seprater{
    width: 100%;
    border: 3px dashed grey;
    margin-top: 60px;
}
/* Contact me*/

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 0px 100px;
    color: grey;
    background-color: whitesmoke;
}

#contact .stalk h1{
    font-size: 3rem;
    margin: 20px;
    text-decoration: underline;
}


#contact .stalk-links .fa-brands{
    font-size: 2rem;
    padding: 0px 50px 0px 50px;
}

#contact .contact{
    margin-top: 25px;
}

#contact .contact span{
    padding: 0px 40px 0px 40px;
}
#contact .copywrite{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 30px;
    color: gold;
}